services:
  db:
    image: postgres:16
    container_name: vivero_db
    restart: always
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: vivero_backend_dev
    restart: always
    ports:
      - "4001:4000"
    depends_on:
      - db
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: db
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: angular_vivero
    restart: always
    ports:
      - "4200:4200"
    volumes:
      - ./frontend/src:/app/src
      - angular_node_modules:/app/node_modules
    command: npx ng serve --host 0.0.0.0 --poll 2000
    networks:
      - app-network

volumes:
  db_data:
  angular_node_modules:

networks:
  app-network:
    driver: bridge
